*.o
.DS_Store
.*.swp
/env
/.config
/.config-*
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/files
/package/feeds
/package/openwrt-packages
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
/.config
.directory